@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme{
    --font-quicksand: "Rubik", sans-serif;
}

ul{
    li{
        padding-bottom: 4px;
    }
}